 .u-section-1 {
  background-image: linear-gradient(#b47aec, #5ce0ed);
}

.u-section-1 .u-sheet-1 {
  min-height: 674px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 550px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Rubik;
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 28px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  border-style: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px auto 0 0;
  padding: 17px 36px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 550px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-shape-1 {
  width: 409px;
  height: 409px;
  --animation-custom_in-scale: 0.3;
  margin: 31px 29px 0 auto;
}

.u-section-1 .u-image-1 {
  height: 460px;
  object-position: 0% 65.31%;
  width: 466px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -430px auto 0 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 545px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 20px;
    margin-right: 15px;
  }

  .u-section-1 .u-image-1 {
    height: 411px;
    width: 406px;
    margin-top: -370px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1215px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 130px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 667px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 25px;
  }

  .u-section-1 .u-shape-1 {
    width: 526px;
    height: 526px;
  }

  .u-section-1 .u-image-1 {
    height: 525px;
    width: 562px;
    margin-top: -487px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1129px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 572px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-shape-1 {
    width: 460px;
    height: 460px;
    margin-top: 0;
    margin-right: 4px;
  }

  .u-section-1 .u-image-1 {
    height: 457px;
    width: 457px;
    margin-top: -457px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.125rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-1 .u-shape-1 {
    width: 299px;
    height: 299px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 322px;
    width: 302px;
    margin-top: -288px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 750px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 619px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 493px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 619px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 3rem;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-line-1 {
  width: 507px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  font-style: italic;
  margin: -58px 0 0 98px;
}

.u-section-2 .u-text-5 {
  margin-left: 98px;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 661px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 20px;
    padding-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 446px;
    margin-top: 77px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 642px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-line-1 {
    width: 410px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -74px;
    margin-left: 94px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 19px;
    margin-left: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 645px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 20px 30px;
  }

  .u-section-2 .u-image-1 {
    height: 627px;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 509px;
  }

  .u-section-2 .u-line-1 {
    width: 653px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 494px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 592px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-1 {
    width: 520px;
  }

  .u-section-2 .u-icon-1 {
    height: 64px;
    margin-top: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -64px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-2 .u-image-1 {
    height: 304px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 806px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-line-1 {
    width: 320px;
  }
} .u-section-3 {
  background-image: linear-gradient(to right, #ecbff9, #9fedf5);
}

.u-section-3 .u-sheet-1 {
  min-height: 830px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 4px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 136px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 42px));
  min-height: 391px;
  grid-gap: 63px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 32px;
}

.u-section-3 .u-icon-1 {
  height: 203px;
  width: 203px;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -73px auto 0;
  padding: 0;
}

.u-section-3 .u-text-3 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 4px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#1dd3e5, #d165f1);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 32px;
}

.u-section-3 .u-icon-2 {
  height: 203px;
  width: 203px;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -73px auto 0;
  padding: 0;
}

.u-section-3 .u-text-5 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 4px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#1dd3e5, #d165f1);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 32px;
}

.u-section-3 .u-icon-3 {
  height: 203px;
  width: 203px;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -73px auto 0;
  padding: 0;
}

.u-section-3 .u-text-7 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 4px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#1dd3e5, #d165f1);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-3 .u-text-9 {
  text-align: left;
  margin: 20px auto 60px;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 42px));
    min-height: 322px;
  }

  .u-section-3 .u-icon-1 {
    animation-duration: 1500ms;
  }

  .u-section-3 .u-icon-2 {
    animation-duration: 1500ms;
  }

  .u-section-3 .u-icon-3 {
    animation-duration: 1500ms;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1335px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 59px;
    margin-right: 59px;
  }

  .u-section-3 .u-text-2 {
    width: 550px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 31.5px));
    min-height: 740px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 60px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 60px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1632px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 95px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -55px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -55px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -55px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 899px;
}

.u-section-4 .u-shape-1 {
  width: 461px;
  height: 696px;
  background-image: linear-gradient(#ecbff9, #5ce0ed);
  margin: 60px auto 0 285px;
}

.u-section-4 .u-image-1 {
  width: 665px;
  height: 629px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -611px 0 0 auto;
}

.u-section-4 .u-group-1 {
  width: 621px;
  min-height: 621px;
  margin: -574px auto 60px 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 45px 152px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  letter-spacing: 1px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#1dd3e5, #d165f1);
  margin: 30px auto 0 0;
  padding: 15px 41px 16px 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-4 .u-shape-1 {
    height: 648px;
    margin-right: 194px;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    width: 583px;
  }

  .u-section-4 .u-group-1 {
    width: 516px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 95px;
  }

  .u-section-4 .u-btn-2 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1426px;
  }

  .u-section-4 .u-shape-1 {
    width: 387px;
    height: 1263px;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    height: 665px;
    margin-top: -689px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 533px;
    margin-top: -1180px;
    margin-bottom: 731px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-4 .u-shape-1 {
    width: 302px;
    height: 1091px;
    margin-right: 108px;
  }

  .u-section-4 .u-image-1 {
    height: 440px;
    width: 495px;
    margin-top: -440px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: -1060px;
    margin-bottom: 587px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-right: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-4 .u-shape-1 {
    width: 203px;
    height: 901px;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    height: 338px;
    margin-top: -378px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: -871px;
    margin-bottom: 428px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1083px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 58px;
  margin-left: auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 518px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 444px;
  height: 445px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 518px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  line-height: 1.8;
  font-weight: 800;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 27px auto 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  margin-left: auto;
  padding: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 443px;
}

.u-section-5 .u-container-layout-3 {
  padding: 21px 30px;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  margin: 0 0 0 auto;
}

.u-section-5 .u-shape-1 {
  width: 115px;
  height: 115px;
  background-image: linear-gradient(#d3b1f4, #5ce0ed);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 40px auto 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 443px;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-5 .u-text-4 {
  line-height: 2.5;
  font-size: 1.125rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-5 .u-image-1 {
    background-position: 50% 50%;
    width: 410px;
    height: 411px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 365px;
  }

  .u-section-5 .u-shape-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 365px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 301px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 491px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 309px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1297px;
}

.u-section-6 .u-shape-1 {
  width: 919px;
  height: 843px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 48px 40px 0 auto;
}

.u-section-6 .u-image-1 {
  width: 212px;
  height: 211px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -886px 76px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 359px;
  height: 360px;
  object-position: 0% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -402px auto 0 0;
}

.u-section-6 .u-image-3 {
  width: 528px;
  height: 522px;
  object-position: 0% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 258px 167px 0 auto;
}

.u-section-6 .u-shape-2 {
  width: 227px;
  height: 228px;
  background-image: linear-gradient(#d3b1f4, #5ce0ed);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -228px auto 0 18px;
}

.u-section-6 .u-list-1 {
  width: 616px;
  margin: -778px auto 0 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 16px));
  min-height: 500px;
  grid-gap: 32px;
}

.u-section-6 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-text-1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-text-3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px;
}

.u-section-6 .u-text-5 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-6 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px;
}

.u-section-6 .u-text-7 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-6 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-text-9 {
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 310px 713px -186px 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1246px;
  }

  .u-section-6 .u-shape-1 {
    width: 900px;
    height: 806px;
    margin-top: 252px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: -849px;
  }

  .u-section-6 .u-image-3 {
    width: 485px;
    height: 480px;
    margin-top: 272px;
    margin-right: 76px;
  }

  .u-section-6 .u-shape-2 {
    width: 199px;
    height: 200px;
    margin-top: -214px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 513px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1280px;
  }

  .u-section-6 .u-shape-1 {
    width: 692px;
    height: 677px;
    margin-top: 352px;
  }

  .u-section-6 .u-image-1 {
    width: 184px;
    height: 183px;
    margin-top: -880px;
    margin-right: 20px;
  }

  .u-section-6 .u-image-2 {
    width: 311px;
    height: 312px;
    margin-top: -312px;
  }

  .u-section-6 .u-image-3 {
    width: 418px;
    height: 413px;
    margin-top: 260px;
    margin-right: 28px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: -36px;
    margin-left: 0;
  }

  .u-section-6 .u-list-1 {
    width: 511px;
    margin-top: -846px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 441px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 7px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 7px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 7px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 7px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-top: 442px;
    margin-right: 293px;
    margin-bottom: -287px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1186px;
  }

  .u-section-6 .u-shape-1 {
    width: 516px;
    height: 523px;
    margin-top: 59px;
  }

  .u-section-6 .u-image-1 {
    width: 160px;
    height: 159px;
    margin-top: -721px;
    margin-right: 22px;
  }

  .u-section-6 .u-image-2 {
    width: 217px;
    height: 218px;
    margin-top: -341px;
  }

  .u-section-6 .u-image-3 {
    width: 316px;
    height: 312px;
    margin-top: 293px;
    margin-right: 0;
  }

  .u-section-6 .u-shape-2 {
    width: 149px;
    height: 149px;
    margin-top: 40px;
  }

  .u-section-6 .u-list-1 {
    width: 451px;
    margin-top: -762px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 395px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 17px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 17px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 17px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 17px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 0;
  }

  .u-section-6 .u-text-9 {
    margin-top: 395px;
    margin-right: 113px;
    margin-bottom: -321px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1232px;
  }

  .u-section-6 .u-shape-1 {
    height: 278px;
    width: 273px;
    margin-top: 41px;
    margin-left: 20px;
  }

  .u-section-6 .u-image-1 {
    width: 128px;
    height: 128px;
    margin-top: -791px;
    margin-right: 10px;
  }

  .u-section-6 .u-image-2 {
    width: 159px;
    height: 160px;
    margin-top: -248px;
  }

  .u-section-6 .u-image-3 {
    width: 226px;
    height: 224px;
    margin-top: 577px;
    margin-right: 10px;
  }

  .u-section-6 .u-shape-2 {
    width: 102px;
    height: 102px;
    margin-top: 17px;
  }

  .u-section-6 .u-list-1 {
    width: 223px;
    margin-top: -909px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 682px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-6 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-6 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 20px;
  }

  .u-section-6 .u-text-8 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-9 {
    margin-top: 269px;
    margin-right: 0;
    margin-bottom: -592px;
  }
} .u-section-7 {
  background-image: url("images/cc.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 1076px;
}

.u-section-7 .u-image-1 {
  width: 305px;
  height: 120px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 68px auto 0 0;
}

.u-section-7 .u-image-2 {
  width: 315px;
  height: 298px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.63;
  margin: -60px 377px 0 auto;
}

.u-section-7 .u-list-1 {
  width: 572px;
  grid-template-rows: repeat(3, auto);
  grid-auto-rows: 100%;
  margin: -169px auto 0 59px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 654px;
  grid-gap: 10px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  height: 91px;
  width: 91px;
  background-image: linear-gradient(#d165f1, #1dd3e5);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
  padding: 19px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -91px 0 0 123px;
}

.u-section-7 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 14px 0 0 123px;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  height: 91px;
  width: 91px;
  background-image: linear-gradient(#d165f1, #1dd3e5);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
  padding: 19px;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -91px 0 0 123px;
}

.u-section-7 .u-text-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 14px 0 0 123px;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  height: 91px;
  width: 91px;
  background-image: linear-gradient(#d165f1, #1dd3e5);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
  padding: 19px;
}

.u-section-7 .u-text-5 {
  font-weight: 400;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -91px 0 0 123px;
}

.u-section-7 .u-text-6 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 14px 0 0 123px;
}

.u-section-7 .u-image-3 {
  width: 188px;
  height: 214px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1.29;
  margin: -516px 24px 0 auto;
}

.u-section-7 .u-text-7 {
  letter-spacing: normal;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 378px auto 60px 59px;
}

.u-section-7 .u-btn-1 {
  font-weight: 500;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 0% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 60px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -74px;
    margin-right: 280px;
  }

  .u-section-7 .u-list-1 {
    width: 526px;
    margin-top: -164px;
    margin-left: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-image-3 {
    margin-top: -485px;
    margin-right: 22px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: 355px;
    margin-bottom: 57px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-7 .u-image-1 {
    width: 273px;
    height: 94px;
  }

  .u-section-7 .u-image-2 {
    width: 271px;
    height: 271px;
    margin-top: -37px;
    margin-right: 130px;
  }

  .u-section-7 .u-list-1 {
    width: 474px;
    margin-top: -160px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 696px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -358px;
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    margin-top: 232px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-7 .u-image-1 {
    width: 270px;
    height: 84px;
    margin-top: 38px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 15px;
    margin-right: 49px;
  }

  .u-section-7 .u-list-1 {
    width: 398px;
    margin-top: -163px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 710px;
  }

  .u-section-7 .u-image-3 {
    width: 104px;
    height: 89px;
    margin-top: -501px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 450px;
    margin-bottom: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1375px;
  }

  .u-section-7 .u-image-1 {
    width: 199px;
    height: 62px;
    margin-top: 60px;
  }

  .u-section-7 .u-image-2 {
    width: 203px;
    height: 203px;
    margin-top: 49px;
    margin-right: 0;
  }

  .u-section-7 .u-list-1 {
    width: 282px;
    margin-top: -138px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 817px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-7 .u-image-3 {
    height: 90px;
    margin-top: -24px;
  }

  .u-section-7 .u-text-7 {
    margin-top: -18px;
    margin-bottom: 57px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 813px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 733px;
}

.u-section-8 .u-container-layout-1 {
  padding: 50px 80px 30px 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px 0 0;
}

.u-section-8 .u-line-1 {
  width: 437px;
  transform-origin: left center;
  margin: 23px auto 0 0;
}

.u-section-8 .u-list-1 {
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 247px;
  grid-gap: 0px;
}

.u-section-8 .u-container-layout-2 {
  padding: 10px;
}

.u-section-8 .u-icon-1 {
  width: 33px;
  height: 33px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  margin: -33px 0 0 60px;
}

.u-section-8 .u-text-4 {
  font-style: italic;
  margin: 11px 0 0 60px;
}

.u-section-8 .u-container-layout-3 {
  padding: 10px;
}

.u-section-8 .u-icon-2 {
  width: 33px;
  height: 33px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  margin: -33px 0 0 60px;
}

.u-section-8 .u-text-6 {
  font-style: italic;
  margin: 11px 0 0 60px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 733px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 0 0;
}

.u-section-8 .u-group-1 {
  min-height: 663px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 1px;
}

.u-section-8 .u-form-1 {
  height: 466px;
  width: 425px;
  margin: 23px auto 0;
}

.u-section-8 .u-form-group-4 {
  margin-left: 0;
}

.u-section-8 .u-btn-1 {
  letter-spacing: 0px;
  background-image: linear-gradient(#1dd3e5, #d165f1);
  width: 100%;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 604px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-8 .u-line-1 {
    width: 340px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-text-3 {
    width: auto;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 604px;
  }

  .u-section-8 .u-text-7 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-form-1 {
    width: 390px;
  }

  .u-section-8 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-8 .u-line-1 {
    width: 280px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 48px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 15px;
    margin-left: 48px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 48px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 15px;
    margin-left: 48px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-form-1 {
    width: 280px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-8 .u-form-1 {
    height: 472px;
    width: 468px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-form-1 {
    width: 320px;
  }
}